{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>My Recipes</h1>

        {% if not recipes %}
            <h2>There are no recipes.</h2>

        {% else %}
            <div class="items-container">
                {% for rec in recipes %}
                    <div class="item">
                        <h2>{{ rec.title }}</h2>
                        <img class="detail-img" src="{{ rec.image_url }}"
                             alt="recipe-image">
                        <div class="recipe-info">
                            {{ rec.description }}
                        </div>
                        <div class="buttons-container">
                            <a class="button detail" href="{% url 'details' rec.pk %}">Details</a>
                            <a class="button edit" href="{% url 'edit' rec.pk %}">Edit</a>
                            <a class="button delete" href="{% url 'delete' rec.pk %}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}